{% extends "base.html" %}

{% block title %}Home | Mens Choice{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-12">
		<div id="carousel-id" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-id" data-slide-to="0" class=""></li>
				<li data-target="#carousel-id" data-slide-to="1" class=""></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active" style="height: 570px;">
					<img alt="First slide" src="{{url_for('static', filename='designimages/img2.jpg')}}" style="width: 100%;">
					<div class="container">
						<div class="carousel-caption">
							<h1>Amazing Autumn Wears</h1>
							<p>
								Get the most trendy outfits to go with the season
							</p>
						</div>
					</div>
				</div>
				<div class="item" style="height: 570px;">
					<img alt="Second slide" src="{{url_for('static', filename='designimages/img1.jpg')}}" style="width: 100%;">
					<div class="container">
						<div class="carousel-caption">
							<h1>Amazing Autumn Wears</h1>
							<p>
								Get the most trendy outfits to go with the season
							</p>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
</div>
</div>

<div class="container" style="margin-top: 40px !important;">
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4 class="text-center pageTitle">Available Products</h4>
			</div>
		</div>
	</div>
</div>

<div class="row">
	{% for product in products%}
		<div class="col-6 col-md-4">
				<div class="thumbnail">
					<a href="{{url_for('main.product', idd=product.id)}}">
						<img src="{{url_for('static', filename='productimages/%s' % product.image)}}" alt="">
					</a>
					<div class="caption text-center">
						<h4 class="bold">{{product.name}}</h4>
						<p>
							Show your class with this simple and elegant outfit
						</p>
						<hr />
						<p>
							<a href="{{url_for('main.product', idd=product.id)}}" class="btn btn-primary btn-sm">
								<i class="glyphicon glyphicon-eye-open"></i> View
							</a>
							<a href="{{ url_for('main.quick_add', id=product.id) }}" class="btn btn-default btn-sm">
								<i class="glyphicon glyphicon-shopping-cart"></i> Add To Cart
							</a>
						</p>
					</div>
				</div>
		</div>
	{% endfor %}
</div>

<div class="row pad">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<p>At <strong><em>Mens Choice</em></strong>, we offer 24 hours service.</p> 
				<p>We offer 7-day money back gurantee and we take buyer protection seriously.</p> 
				<p>All our products are of the highest grade.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}